<!DOCTYPE html>
<html>
<head>
    <title>Staff Login</title>
</head>
<body>

    <h2>Staff Login</h2>
    <p>Counselor / Principal</p>

    {% if messages %}
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <p>
            {{ form.username.label_tag }}<br>
            {{ form.username }}
        </p>

        <p>
            {{ form.password.label_tag }}<br>
            {{ form.password }}
        </p>

        <button type="submit">Login</button>
    </form>

</body>
</html>
